@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Vopay Technical Assessment</p>
</div>

<p>
    1. What's the most interesting technical article you've read recently and why? Convince us that we really need to check it out.
</p>
<p>
    <a href="https://www.infoq.com/news/2016/08/google-nlpaas">Google Launches Cloud Natural Language API</a>
</p>
<p>
    The "Google Launches Cloud Natural Language API" Infoq.com article announces emerging technology from a new area of scientific research.
</p>
<br/>
<p>
    <div id="sortedUnique">2. Sorted Unique: </div>
</p>


<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>

<script>

    var orig = [0, 9, 9, 13, 2, 7, 13, 5, 6, 5, 8, 12, 19, 28, 1, 3, 3, 3];

    var sorted = orig.sort(function(a, b) {
        return a - b;
    });

    var getUnique = function(arr) {
        var unique = [];
        var ctr = 0;

        while (ctr < arr.length) {
            if (unique.indexOf(arr[ctr]) === -1) {
                unique.push(arr[ctr]);
            }
            ctr++;
        }
        return unique;
    };

    var sortedUnique = getUnique(sorted);
    document.getElementById('sortedUnique').innerHTML += sortedUnique;

</script>